**/.godot/

*.log
export_presets.cfg

.venv/
env/
venv/
__pycache__/
*.pyc

ai/models/
ai/generations/
.pytest_cache/
.ray/

*.so
*.pyd
*.dylib

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db
.idea/
.vscode/

